<ion-view view-title="Servicios">
    <ion-content>
        <ion-list>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Salud y Bienestar
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Car Pooling y Transporte
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Educación
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Baby sitter
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Mantenimiento
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Eventos
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item ng-click="gotodash()" class="item-icon-right">
                Otros
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
