<ion-view view-title="Olvide mi contraseña">
    <ion-content padding="true">
        <div class="row">
        </div>
        <div class="row">
            <p class="center col col-80 col-offset-10">
                Si no recuerda su contraseña pongase en contacto con central o escriba a soporte@comtryapp.com </p>
        </div>
        <div class="row">
          <p class="center col col-80 col-offset-10">
                Vuelve a <a href="#/sign-in">iniciar sesión</a>.
            </p>
        </div>
    </ion-content>
</ion-view>