<link href="css/select-user.css" rel="stylesheet">
<ion-view view-title="Seleccionar Usuario" hide-back-button="true">
    <ion-content>
    <div class="list">

    <a class="item item-avatar item-icon-right" href="#" ng-click="SelectUser(user)">
      <img src="img/ben.png">
      Lucas
       <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    <a class="item item-avatar item-icon-right" ng-click="SelectUser(user)">
      <img src="img/mike.png">
      Martín
       <i class="icon ion-chevron-right icon-accessory"></i>
    </a>


</div>
      
    </ion-content>
</ion-view>