<ion-view view-title="Iniciar Sesión">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="Usuario">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="Contraseña">
            </label>
        </div>
        <div class="padding">
            <a class="button button-block button-outline button-calm" href="#/selectUser">
                Ingresar
            </a>
            <p class="text-center">
                <a href="#/forgot-password">Olvide mi contraseña</a>
            </p>
        </div>
    </ion-content>
</ion-view>