<link href="css/dash.css" rel="stylesheet">
<ion-view view-title="Comtry App">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-settings" ng-click="filter()"></button>
        <button class="button button-icon icon ion-ios-search" ng-click="search()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <div class="images-position">
            <div class="item-avatar-right">
                  <img src="img/mom2.png">
            </div>
            <div class="item item-image">
                <img src="img/babysitter.jpg">
            </div>
        </div>
            <div class="item-name-right">
                
                <h2>Flor Ramirez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <a class="item item-text-wrap">
                Soy maestra jardinera. Me encantan los bebes y tengo mucha paciencia.
                <p class="category">Babysitter</p>
            </a>
        </div>


        <!-- repetir -->
        <div class="list card">
            <div class="images-position">
            <div class="item-avatar-right">
                  <img src="img/mom2.png">
            </div>
            <div class="item item-image">
                <img src="img/babysitter.jpg">
            </div>
        </div>
            <div class="item-name-right">
                
                <h2>Flor Ramirez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <a class="item item-text-wrap">
                Soy maestra jardinera. Me encantan los bebes y tengo mucha paciencia.
                <p class="category">Babysitter</p>
            </a>
        </div>
        <div class="list card">
            <div class="images-position">
            <div class="item-avatar-right">
                  <img src="img/mom2.png">
            </div>
            <div class="item item-image">
                <img src="img/babysitter.jpg">
            </div>
        </div>
            <div class="item-name-right">
                
                <h2>Flor Ramirez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <a class="item item-text-wrap">
                Soy maestra jardinera. Me encantan los bebes y tengo mucha paciencia.
                <p class="category">Babysitter</p>
            </a>
        </div>
        <div class="list card">
            <div class="images-position">
            <div class="item-avatar-right">
                  <img src="img/mom2.png">
            </div>
            <div class="item item-image">
                <img src="img/babysitter.jpg">
            </div>
        </div>
            <div class="item-name-right">
                
                <h2>Flor Ramirez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <a class="item item-text-wrap">
                Soy maestra jardinera. Me encantan los bebes y tengo mucha paciencia.
                <p class="category">Babysitter</p>
            </a>
        </div>
        <div class="list card">
            <div class="images-position">
            <div class="item-avatar-right">
                  <img src="img/mom2.png">
            </div>
            <div class="item item-image">
                <img src="img/babysitter.jpg">
            </div>
        </div>
            <div class="item-name-right">
                
                <h2>Flor Ramirez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <a class="item item-text-wrap">
                Soy maestra jardinera. Me encantan los bebes y tengo mucha paciencia.
                <p class="category">Babysitter</p>
            </a>
        </div>
    </ion-content>
</ion-view>