<ion-view view-title="Crear publicación">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="getPhoto()"></button>
        
    </ion-nav-buttons>
    <ion-content class="posting">
        <div class="card list padding">
            <!-- <img ng-src="{{lastPhoto}}" style="max-width: 100%"> -->
            <img ng-src="data:image/jpg;base64,{{data.lastPhoto}}" style="max-width: 100%">
            <form>
                <label class="item item-input">
                    <span class="input-label">Título</span>
                    <input ng-model="data.Title" type="text" placeholder="Ej: Carpooling" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Descripción</span>
                    <input ng-model="data.description" type="text" placeholder="Ej: Voy a buscar a los chicos a la salidad del colegio." />
                </label>
                <label class="item item-input">
                    <span class="input-label">Precio</span>
                    <input ng-model="data.price" type="number" placeholder="Ej: $30 (Opcional)" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Categoría</span>
                    <input ng-model="data.category" type="text" placeholder="Ej: Carpooling" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Dato de color</span>
                    <input ng-model="data.extra" type="text" placeholder="Ej: Tengo una camioneta super cómoda :)" />
                </label>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm color">
        <div class="buttons" ng-click="addMessage()">
            <h1 class="title">Postear</h1>
        </div>
    </ion-footer-bar>
</ion-view>