<ion-view view-title="Ajustes">
    <ion-content>
        <ion-list>
            <ul class="list">
                <li class="item item-toggle">
                    Notificaciones
                    <label class="toggle toggle-calm">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item">
                    Versión
                    <span class="item-note">
      mvp 1.1 (beta)
    </span>
                </li>
            </ul>
        </ion-list>
    </ion-content>
</ion-view>