<ion-view view-title="Comtry App">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-settings" ng-click="showPopup()"></button>
        <button class="button button-icon icon ion-ios-search" ng-click="vm.showFilterBar()"></button>
    </ion-nav-buttons>
    
    <ion-content class="padding dash">
        <div class="list card" ng-repeat="post in postings">
            <div class="images-position">
                <div class="item-avatar-right">
                    <img src="img/mica.jpg">
                </div>
                <div class="item item-image">
                    <img src="img/babysitter.jpg">
                </div>
            </div>
            <div class="item-name-right">
                <h2>Mica Gonzalez</h2>
                <div class="ranking">
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star"></div>
                    <div class="icon ion-ios-star-half"></div>
                    <div class="icon ion-ios-star-outline"></div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <h1>{{post.title}}</h1>
                {{post.description}}
                <p class="category">{{post.category}}</p>
            </div>
            <button ng-click="showDetails(post)">Ver más</button>
        </div>
        
    </ion-content>
</ion-view>